apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: italo
resources:
  - secret/blog.secret.yaml
  - secret/sample-database.secret.yaml
  - pvc/sample-database.pvc.yaml
  - deployment/blog.deployment.yaml
  - deployment-config/sample-database.deploymentconfig.yaml
  - service/blog.service.yaml
  - service/sample-database.service.yaml
  - route/blog.route.yaml
  - hpa/blog.hpa.yaml